.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;

    background: #0d6efd;
    color: white;

    padding: 18px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ffd43b;
}