/* ==========================================
             GOOGLE FONT
========================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ==========================================
            GLOBAL RESET
========================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ==========================================
               HTML
========================================== */

html{

    scroll-behavior:smooth;

}

/* ==========================================
               BODY
========================================== */

body{

    font-family:'Poppins',sans-serif;

    background:#f8fafc;

    color:#1e293b;

    overflow-x:hidden;

}

/* ==========================================
              ROOT
========================================== */

#root{

    width:100%;

    min-height:100vh;

}

/* ==========================================
          IMAGES
========================================== */

img{

    max-width:100%;

    display:block;

}

/* ==========================================
          BUTTONS
========================================== */

button{

    font-family:'Poppins',sans-serif;

}

/* ==========================================
         INPUTS
========================================== */

input,
textarea,
select{

    font-family:'Poppins',sans-serif;

}